<div class="flex flex-column text-center">

  <h3 class="text-lg mb-4">LOGIN</h3>
  <mat-form-field>
    <mat-label >User</mat-label>
    <input type="text" matInput placeholder="User Name">
  </mat-form-field>

  <mat-form-field>
    <mat-label >Password</mat-label>
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <button class="w-3 " mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Submit
  </button>

  <div>
    <a href="/auth/register">Aún no tienes cuenta?</a>
  </div>
</div>
